@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>This is an exercise for building a web application using ASP.NET. The assignment is done in the websoft course.</p>
</div>